.field {
    margin-top: 20px;
    font-weight: 500;
    width: 300px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.input {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    border-radius: 5px;

    &:focus {
        outline: 2px solid #e47200;
        border-color: #e47200;
    };
}